target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.env
.env.local
*.log
data/
uploads/
target/classhub-test-storage/


.idea/
*.iws
*.iml
*.ipr
.classpath
.project
.settings
.factorypath
.apt_generated
.springBeans
.sts4-cache
.vscode/
*.swp
.DS_Store
